@use '@/variables.scss' as *;
@use 'sass:color';

.role_name {
  display: inline-block;

  &:before,
  .wipe_anim {
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    height: 1.2em;
    width: calc(var(--width, 0) * 1px + 0.5em);
    transform: skew(-20deg);
    border-radius: $border-radius;
    background-color: $white;
    transition: width 0.1s;
  }

  &:before {
    z-index: -1;
  }

  .wipe_anim {
    transform: scaleX(0);
    background-color: #90e2f7;
  }

}
