@use '@/variables.scss' as *;

.angle_bracket_wrapper {
  padding: 24px;

  .shadow_wrapper {

    img {
      max-width: 100%;
      object-fit: cover;
    }

    @include dotted-shadow;

  }


  &::before {
    @include angle-bracket-accent('top-right');
  }

  &::after {
    @include angle-bracket-accent('bottom-left');
  }
}
